// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.table {
  margin: 20px;
  width: 95%;
}

.table td, .table th {
  text-align: center;
}

.box-btn {
  width: 100px;
}

select.date-select {
    width: 120px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.container {
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
}

.wide {
  width: 95%;
}